obj
bin
*.user
*.suo
*.tmp
*.pyc
*.pyc
*.nupkg
.DS_Store
packages
*.ide*
*db.lock
.vs
*.sqlite
*.csv
*.zip
**/.vscode/**
**/.cache/**
**/.mypy_cache/**
**/node_modules/**
**/.egg-info/**
**/logs/**
**/build/**
**/dist/**
/output/**
*.procs
*.joblib
artifacts/**
artifacts/**
**/docs/_build/**